.icon{
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.title {
    text-align: center;
}

.intro{
    position: relative;
    height: 5px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

.intro p{
    display: inline;
    position: relative;
    bottom: 18px;
}

p.red{
    padding-left: 10%;
}
p.black{
    
    padding-left: 50%;
}
