<h3>Let's Begin!</h3>
<p>Player 1 is red</p><img src="/app/assets/images/red.png">
<p>Player 2 is black</p><img src = 'app/assets/images/black.png'>

<div class="turn-order">
  <h5>Click to see who goes first</h5>
  <%= button_to "Flip", root_path %>
</div>
