
<div class="info" ng-controller="GameCtrl as game">
    <h3>Player {{game.player.turn_player}}'s Turn</h3><img class="helper" src="{{game.board.chips[game.player.turn_player]}}">
    <!-- <h3> Turns: {{game.player.turns}}</h3> -->
    <h2 class="winner" ng-if="game.board.hasWinner">Player {{game.player.off_turn}} Wins!!!</h2>
    <p class="reset" ng-click="game.board.reset(); game.player.pick_first()">Reset</p>
    <p class="undo" ng-if="game.board.hotColumn" ng-click="game.board.undo(); game.player.switch()">Undo</p>
    
</div>

<div class="play-area" ng-controller="GameCtrl as game">
    <table class="rack">
        <tr class="inserters">
            <td class="arrow-container" ng-repeat="n in game.board.cols" ng-click="game.board.addChip($index,game.player.turn_player); game.player.switch()" ><img class="arrows" src="http://i.imgur.com/wwK7uIN.png"></td>
        </tr>
        <tr class="slot-rows" ng-repeat="n in game.board.rows">
            <td class="slots" ng-repeat="n in game.board.cols"><img class="empty" src="http://i.imgur.com/O1lQF0g.png"</td>
        </tr>
    </table>
</div>
